<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960200416130-tris6gm62mkvnk57j46vla3nnq10he0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960200416130-tris6gm62mkvnk57j46vla3nnq10he0m</string>
	<key>API_KEY</key>
	<string>AIzaSyDRm2esgv5tO0uW2raAfumT5JBamoqboB0</string>
	<key>GCM_SENDER_ID</key>
	<string>960200416130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ng.optisoft.nsce</string>
	<key>PROJECT_ID</key>
	<string>nsce-a5388</string>
	<key>STORAGE_BUCKET</key>
	<string>nsce-a5388.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960200416130:ios:2411e8a9a39156fdba8d9b</string>
	<key>DATABASE_URL</key>
	<string>https://nsce-a5388.firebaseio.com</string>
</dict>
</plist>